<div class="comments-row">
  <mat-form-field class="example-full-width">
    <mat-label>Comment</mat-label>
    <input type="text" matInput placeholder="Leave a comment"[formControl]="commentCtrl">
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="onLeaveComment()">
    <mat-icon>send</mat-icon>
  </button>
</div>
<mat-list *ngIf="comments.length">
    <h2 matSubheader>Commentaires</h2>
    <mat-list-item *ngFor="let comment of comments">
      <span mat-line>{{ comment.comment }}</span>
      <span mat-line class="comment-date">{{ comment.createdDate | timeago }}</span>
    </mat-list-item>
</mat-list>