mat-list-item{
    border-bottom: thin solid #555;
}

.comment-row{
    display: flex;
    border-top: thin solid #555;
    padding-top: 10px;
    justify-content: space-around;
    align-content: center;
}

  mat-form-field {
    width: 90%;
  }

  mat-icon{
    color: #3f51b5;
  }

  button{
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 5px;
    padding: 0;
  }

  .comment-date{
    margin-left: 10px;
    font-style: italic;
  }